Source: pknyx
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-pknyx
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python KNX framework
 See http://www.pknyx.org
 .

